body {
    font-family: 微软雅黑;
}

.no-wrap {
    padding: 0px;
    margin: 0px;
}

.no-padding {
    padding: 0px;
}

.no-margin {
    margin: 0px;
}

.h-100 {
    height: 100%;
}

button {
    cursor: pointer;
}

.hidden {
    display: none;
    visibility: hidden;
}

.text-5BC0DE {
    color: #5BC0DE;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(255,255,255);
    text-align: center;
}

    .navbar-light .navbar-nav .nav-link:hover {
        color: #5BC0DE;
        text-align: center;
    }

    .navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
        color: rgb(255,255,255);
        font-weight: bold;
    }

header {
    position: absolute;
    top: 0px;
    left: 0px;
}

.marginTop-30 {
    margin-top: 30px;
}

.marginBottom-50 {
    margin-bottom: 50px;
}

.text-signin-dialog-title {
    color: rgb(102,102,102);
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    line-height: 40px;
    padding-bottom: 10px;
}

.m-window-buttton {
    background-color: rgb(139,195,74);
    color: rgb(255,255,255);
    text-align: center;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
}

.label-pwd-intension {
    padding-right: 5px;
    font-weight: bold;
}

/* ========================= Footer ========================= */

footer {
    height: 30px;
    width: 100%;
}


    footer .footer-copyright {
        overflow: hidden;
        padding: 15px 0px;
    }

    footer .copyright-txt {
        color: rgb(172,172,172);
        float: left;
        font-size: 13px;
        font-weight: 300;
        padding: 5px 0px;
        margin: 0px;
    }

        footer .copyright-txt a {
            font-weight: 400;
        }

        footer .copyright-txt span {
            font-weight: bold;
        }

        footer .copyright-txt .split-line {
            padding: 0px 10px;
        }

        footer .copyright-txt .normal-text {
            font-weight: normal;
        }

        footer .copyright-txt .reference-text {
            color: #ffffff;
            cursor: default;
            font-size: 11px;
            /*font-style: italic;*/
            font-weight: bold;
            padding-left: 50px;
        }

    footer .footer-txt {
        background-color: rgb(23,23,23);
    }


div.custom-global-alert {
    position: absolute;
    top: 0px;
    width: 100%;
    text-align: center;
    z-index: 19999;
}

div.alert-mask-custom {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 19998;
    background-color: rgb(0,0,0);
    opacity: 0.5;
    display: none;
}

/* ========================= Footer ========================= */


.no-padding-margin {
    padding: 0px;
    margin: 0px;
}

.user-info-txt {
    font-family: 微软雅黑;
    font-size: 10px;
    color: #ffffff;
}

.list-group-item {
    border: none;
    background-color: transparent;
    font-family: 微软雅黑;
    font-size: 14px;
    color: #ffffff;
    padding: 5px 1.25rem;
}

    .list-group-item:hover {
        background-color: #3965DE;
        color: #699BED;
        cursor: pointer;
    }

.project-name-title {
    color: #ffffff;
    font-family: 微软雅黑;
    font-size: 16px;
}

button.btn.btn-sm {
    font-family: 微软雅黑;
    font-size: 14px;
    cursor: pointer;
}

.card {
    background-color: transparent;
    border: none;
}

.card-header {
    background-color: transparent;
    padding: 10px 20px;
}

h5.mb-0 {
    font-family: 微软雅黑;
    font-size: 14px;
    cursor: pointer;
}

    h5.mb-0 a {
        color: #ffffff;
    }

        h5.mb-0 a:hover {
            color: #699BED;
        }

.card-block {
    padding: 0px 20px;
}

.table th, .table td {
    font-family: 微软雅黑;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 10px;
    vertical-align: middle;
}

.table td {
    font-weight: normal;
}

label.custom-control.custom-checkbox {
    margin: 0px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: rgba(41, 85, 206, 0.61);
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    border-radius: 20px;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' transform='translate(30)' viewBox='0 0 8 8'%3E%3Cpath d='M4 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E" transform="translate(30 12)");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' transform='translate(10)' viewBox='0 0 8 8'%3E%3Cpath d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-inner {
    border: solid 1px rgb(41, 85, 206);
    border-radius: 10px;
    height: 100%;
}

.carousel-item {
    height: 100%;
}

.accordion-white-bg h5.mb-0 a {
    color: #0275d8;
}

    .accordion-white-bg h5.mb-0 a:hover {
        color: #699BED;
    }

.fa.fa-check {
    color: rgb(34,139,34);
}

    .fa.fa-check span {
        cursor: pointer;
        color: rgb(34,139,34);
        font-size: 14px;
        font-weight: bold;
        padding-left: 5px;
        text-decoration: underline;
    }

.fa.fa-question {
    color: rgb(243,151,0);
}

    .fa.fa-question span {
        cursor: pointer;
        color: rgb(243,151,0);
        font-size: 14px;
        font-weight: bold;
        padding-left: 5px;
        text-decoration: underline;
    }

.fa.fa-percent {
    color: rgb(255,0,0);
}

    .fa.fa-percent span {
        color: rgb(255,0,0);
        font-size: 14px;
        font-weight: bold;
        padding-left: 5px;
    }

.fa.fa-remove {
    color: rgb(255,0,0);
}

    .fa.fa-remove span {
        cursor: pointer;
        color: rgb(255,0,0);
        font-size: 14px;
        font-weight: bold;
        padding-left: 5px;
        text-decoration: underline;
    }

.btn {
    cursor: pointer;
}

@media screen and (max-width:767px) {
    #footer .scrollup {
        display: block;
    }
}

@media (min-width: 1200px) {
    .navbar .nav-ul-container {
        width: 64%;
    }
}

@media (min-width: 1440px) {
    .navbar .nav-ul-container {
        width: 51%;
    }
}

@media (min-width: 1600px) {
    .navbar .nav-ul-container {
        width: 47%;
    }
}

@media (min-width: 1705px) {
    .navbar-expand-lg .navbar-collapse {
        display: -webkit-box !important;
        display: -webkit-flex !important;
        display: -ms-flexbox !important;
        display: flex !important;
    }

    .navbar-expand-lg .navbar-toggler {
        display: none;
    }
}

@media (min-width: 1920px) {
    .navbar .nav-ul-container {
        width: 40%;
    }
}

@media (min-width: 2560px) {
    .navbar .nav-ul-container {
        width: 27%;
    }
}

.alert {
    position: absolute;
    top: 0px;
    width: 100%;
    text-align: center;
}
