html {
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    font-family: 微软雅黑;
}

body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    font-family: 微软雅黑;
}

.wrap-container {
    min-height: 450px;
    min-width: 700px;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

.siderbar-wrap {
    width: 30%;
    position: absolute;
    right: 0px;
    z-index: 1000;
}

    .siderbar-wrap .sidebar-content-wrap {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0px;
        background-color: rgb(41,49,67);
    }

        .siderbar-wrap .sidebar-content-wrap .sidebar-content-container {
            height: 100%;
            width: 100%;
        }

            .siderbar-wrap .sidebar-content-wrap .sidebar-content-container .top-row {
                background-color: rgb(135,135,135);
                border-top: solid 1px;
            }

                .siderbar-wrap .sidebar-content-wrap .sidebar-content-container .top-row .col {
                    padding: 0px;
                }

                    .siderbar-wrap .sidebar-content-wrap .sidebar-content-container .top-row .col button {
                        padding: 0px 5px;
                        margin-top: -3px;
                    }

            .siderbar-wrap .sidebar-content-wrap .sidebar-content-container .console-row {
                height: calc(100% - 30% - 75px);
            }

            .siderbar-wrap .sidebar-content-wrap .sidebar-content-container .result-row {
                background-color: rgb(0,0,0);
                border-top: solid 1px;
                height: 30%;
            }

            .siderbar-wrap .sidebar-content-wrap .sidebar-content-container .title-row {
                background-color: rgb(135,135,135);
                border-top: solid 1px;
                font-size: 14px;
                line-height: 24px;
            }

        .siderbar-wrap .sidebar-content-wrap .sidebar-expand-bar {
            position: absolute;
            width: 20px;
            height: 100%;
            top: 0px;
            left: -20px;
            background-color: rgb(135,135,135);
            border: solid 1px;
            display: none;
        }

            .siderbar-wrap .sidebar-content-wrap .sidebar-expand-bar .btn-expand {
                padding: 1px;
                margin-top: -3px;
            }

    .siderbar-wrap .siderbar-drag {
        position: relative;
        height: 100%;
        width: 5px;
        left: -5px;
        background-image: url(../image/siderbardrag.png);
    }

        .siderbar-wrap .siderbar-drag.expanded {
            cursor: col-resize;
        }

.siderbar-drag-proxy {
    position: absolute;
    height: 100%;
    width: 5px;
    background-color: rgb(203,204,203);
    display: none;
    visibility: hidden;
    cursor: col-resize;
    z-index: 9999;
}


.header-wrap-row {
    background-color: rgb(41,49,67);
}

    .header-wrap-row .header-course-name {
        margin: 0px;
        padding-left: 10px;
        color: rgb(203,204,203);
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 2px;
        line-height: 35px;
    }

    .header-wrap-row .header-user-info-container {
        text-align: right;
    }

    .header-wrap-row .header-user-info-image {
        height: 25px;
        width: 25px;
        background-color: rgb(255,255,255);
        border: solid 1px rgb(203,204,203);
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        box-shadow: 0px 0px 10px rgb(255,255,255);
    }

    .header-wrap-row .header-user-info-name {
        padding: 0px 10px;
        color: rgb(203,204,203);
        line-height: 40px;
    }

    .header-wrap-row .sign-out-button {
        cursor: pointer;
    }

.toolbar-wrap-row {
    background-color: rgb(135,135,135);
    padding: 3px;
}

    .toolbar-wrap-row .toolbar-buttons-item {
        padding: 0px 3px;
        width: 25px;
    }

    .toolbar-wrap-row .toolbar-title {
        text-align: right;
        font-size: 14px;
        font-weight: bold;
        line-height: 25px;
        /*color: #292b2c;*/
        color: rgb(41,49,67);
    }

#content_Editor {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 16px;
}

.keypoint-container-col {
    background-color: rgb(210,210,210);
    overflow-y: auto;
}

    .keypoint-container-col .card .card-header {
        padding: 5px;
    }

        .keypoint-container-col .card .card-header div.item-mark {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            display: inline-block;
            background-color: #ea5415;
            border: 3px solid rgb(255, 255, 255);
            box-shadow: 0px 0px 15px #ea5415;
        }

        .keypoint-container-col .card .card-header button {
            width: calc(100% - 20px);
            margin-left: 0px;
            text-overflow: ellipsis;
            overflow: hidden;
            padding: 0px;
            text-align: left;
            padding-left: 5px;
            color: #ea5415;
        }

    .keypoint-container-col .card.complete .card-header div.item-mark {
        background-color: #28a745;
        box-shadow: 0px 0px 15px#28a745;
    }

    .keypoint-container-col .card.complete .card-header button {
        color: #28a745;
    }

    .keypoint-container-col .card.current .card-header div.item-mark {
        background-color: #007bff;
        box-shadow: 0px 0px 15px#007bff;
    }

    .keypoint-container-col .card.current .card-header button {
        color: #007bff;
    }

    .keypoint-container-col .card .card-body button {
        padding: 0px 5px;
        margin: 5px;
    }

    .keypoint-container-col .card .card-body ul li {
        font-size: 13px;
    }
