@media (max-width: 991px) {
    #wrap_FreeSignUp {
        display: none;
    }
}

#wrap_FreeSignUp {
    position: absolute;
}

#btn_FreeSingUp {
    color: rgb(255,255,255);
    background-color: transparent;
    background-image: none;
    border-color: #5bc0de;
}

    #btn_FreeSingUp:hover {
        background-color: #5bc0de;
    }

#txt_FreeSingUp {
    border-color: #5bc0de;
}
