@media (max-width: 991px) {
    #wrap_FreeSignUp {
        display: none;
    }
}

#wrap_FreeSignUp {
    position: absolute;
    left: 0px;
}

#btn_Fast_FreeSignUp {
    color: rgb(255,255,255);
    background-color: transparent;
    background-image: none;
    border-color: #5bc0de;
    cursor: pointer;
}

    #btn_Fast_FreeSignUp:hover {
        background-color: #5bc0de;
    }

#txt_Fast_FreeSignUp {
    border-color: #5bc0de;
}

#section_3 .col-12.bootom-image {
    margin-top: 3rem !important;
    margin-bottom: 0px;
}

.wrap_section_1_tip {
    position: absolute;
    display: none;
}

.img-tip-bakcground {
    position: absolute;
    top: 5px;
    left: 5px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
