body {
    font-family: 微软雅黑;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(102,102,120);
}

    .navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
        color: rgb(67,166,239);
        font-weight: bold;
    }

#img_Profile_Title {
    width: 100px;
    height: 100px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.left-bar-category-item {
    margin: 0px;
    cursor: pointer;
}

.left-bar-message-count {
    width: 40px;
    display: inline-block;
    text-align: center;
    font-size: 16px;
    background-color: rgb(236,64,122);
    color: rgb(255,255,255);
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
}

.overview-title-item-data {
    font-size: 1.6rem;
    font-weight: bold;
    color: rgb(0,0,0);
    padding-left: 3px;
    padding-right: 3px;
}

.overview-title-item-text {
    color: rgb(107,129,140);
}

.overview-honor-item-text {
    color: rgb(147,146,145);
    font-size: 13px;
    font-weight: bold;
    padding-top: 10px;
    margin: 0px;
}

    .overview-honor-item-text.active-item {
        color: rgb(68,191,160);
    }

.overview-course-item-wrap {
    padding: 1px 0px;
    border: solid 1px rgb(246,246,246);
    border-left: none;
    border-right: solid 2px rgb(246,246,246);
}

.overview-list-arrow {
    cursor: pointer;
}

    .overview-list-arrow:hover {
        font-size: 20px;
    }

#img_Settings_Profile_Header {
    width: 100px;
    height: 100px;
    padding: 0px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

#wrap_Settings_PWD form label {
    color: rgb(128,128,128);
}

#wrap_Settings_Profile form label {
    color: rgb(56,56,56);
}
