.main-container {
    min-height: 825px;
    min-width: 1150px;
}

header {
    height: 35px;
    /*background-color: rgb(246,246,246);*/
    background-color: rgb(240,240,240);
    position: static;
    top: 0px;
    left: 0px;
}

    header #navbar_Header {
        padding: 2px 15px;
    }

        header #navbar_Header .navbar-brand {
            padding-top: 0px;
            padding-bottom: 0px;
        }

        header #navbar_Header #ul_NavBar_Container .fa-stack {
            vertical-align: middle;
        }

        header #navbar_Header #ul_NavBar_Container .mood-text {
            line-height: 24px;
        }

        header #navbar_Header #ul_NavBar_Container .btn {
            border: none;
        }

            header #navbar_Header #ul_NavBar_Container .btn.btn-sm {
                padding-top: 1px;
                padding-bottom: 1px;
            }

            header #navbar_Header #ul_NavBar_Container .btn.btn-primary {
                border: none;
                border-radius: 8px;
                font-size: 12px;
            }

        header #navbar_Header #ul_NavBar_Container .btn-group .btn.btn-sm {
            font-size: 12px;
            color: rgb(255,255,255);
        }

            header #navbar_Header #ul_NavBar_Container .btn-group .btn.btn-sm.btn-mood-first {
                cursor: inherit;
                margin-left: 10px;
                border-top-right-radius: 0px;
                border-bottom-right-radius: 0px;
            }

            header #navbar_Header #ul_NavBar_Container .btn-group .btn.btn-sm.btn-mood-last {
                border-top-right-radius: 8px;
                border-bottom-right-radius: 8px;
            }

footer {
    height: 30px;
    /*background-color: rgb(23,23,23);*/
    background-color: rgb(45,41,40);
}

    footer .copyright-txt {
        color: rgb(172,172,172);
        float: left;
        font-size: 13px;
        font-weight: 300;
        padding: 5px 0px;
        margin: 0px;
        text-align: left;
    }

        footer .copyright-txt .company-name {
            font-weight: bold;
        }

        footer .copyright-txt .split-line {
            font-weight: bold;
            padding: 0px 10px;
            font-size: 16px;
            line-height: 16px;
        }

    footer .reference-text {
        color: #ffffff;
        cursor: default;
        font-size: 12px;
        /* font-style: italic; */
        padding-left: 50px;
    }

.col-main-content {
    height: 100%;
    overflow: auto;
}

.col-siderbar {
    min-width: 190px;
    max-width: 210px;
    min-height: 760px;
    background-color: rgb(45,41,40);
    color: rgb(255,255,255);
    padding: 0px;
}

.row-category-item {
    margin: 0px;
    cursor: pointer;
    /* color: rgb(85,103,110); */
    color: rgb(140,140,140);
    background-color: rgb(45,41,40);
    min-height: 40px;
    font-size: 14px;
    font-weight: lighter;
}

    .row-category-item .category-item-attr {
        /*width: 40px;*/
        width: 21px;
        margin-left: 10px;
        display: inline-block;
        text-align: center;
        background-color: rgb(236,64,122);
        color: rgb(255,255,255);
        -moz-border-radius: 12px;
        -webkit-border-radius: 12px;
        /*border-radius: 10px;*/
        border-radius: 50%;
        margin-left: 55px;
    }

    .row-category-item:hover {
        /*background-color: rgb(46, 60, 66);
        font-weight: 600;*/
        color: rgb(255,255,255);
        /*font-size: 16px;*/
    }

        /*.row-category-item:hover .category-item-attr {
            font-size: 14px;
        }*/
        .row-category-item:hover .category-item-attr {
            width: 24px;
            margin-left: 50px;
        }

        .row-category-item:hover .category-item-icon {
            /*color: rgba(255,84,142,1);*/
            /*color: rgb(140,140,140);*/
            color: rgb(255,255,255);
            /*font-size: 22px;*/
        }

    .row-category-item.active-item {
        /*background-color: rgb(66,80,86);*/
        /*font-weight: 600;*/
        color: rgb(255,255,255);
        font-size: 16px;
    }

    .row-category-item .category-item-icon {
        font-size: 18px;
    }

    .row-category-item.active-item .category-item-icon {
        /*color: rgb(215,44,102);*/
        color: rgb(255,255,255);
        font-size: 22px;
    }

    /*.row-category-item.active-item .category-item-attr {
        min-width: 50px;
        font-size: 14px;
    }*/
    .row-category-item.active-item .category-item-attr {
        width: 24px;
        margin-left: 50px;
    }

/*.row-category-item.active-item .category-item-attr .category-item-attr-icon {
            font-size: 14px;
    }*/

.siderbar-user-infors {
    padding: 10px;
}

    .siderbar-user-infors #img_Siderbar_Header {
        margin: 5px;
        width: 60px;
        height: 60px;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        border: solid 2px rgb(255,255,255);
        box-shadow: 1px 1px 5px rgb(188,188,188);
    }

    .siderbar-user-infors p {
        text-align: left;
        font-size: 14px;
        height: 30px;
        line-height: 30px;
    }

.row-courses-group-list {
    background-color: rgb(248, 250, 251);
}

.horizontal-list {
    padding: 10px 0px;
}

    .horizontal-list .horizontal-list-wrap {
        overflow: hidden;
        padding: 0px;
    }

    .horizontal-list .wrap-horizontal-list-item {
        display: inline-block;
    }

        .horizontal-list .wrap-horizontal-list-item .horizontal-list-item {
            padding: 0px;
            border: solid 1px rgb(237,240,242);
            box-shadow: 1px 1px 5px rgb(188,188,188);
        }

    .horizontal-list .horizontal-list-arrow {
        cursor: pointer;
        font-weight: bold;
        color: rgb(17,138,195);
    }

        .horizontal-list .horizontal-list-arrow:hover {
            font-size: 20px;
        }

.btn-course-item-buy {
    padding: 0px 3px;
    font-size: 12px;
    margin-left: 10px;
    margin-top: -2px;
}

.row-courses-group-item-list {
    font-size: 14px;
}

    .row-courses-group-item-list tbody tr td {
        line-height: 28px;
    }

.course-state {
    font-size: 18px;
}

    .course-state.fa-star-half-alt {
    }

    .course-state.fa-star {
        color: darkgreen;
    }

.course-staem-s {
    background-color: #f00566;
}

.course-staem-t {
    background-color: #33a8eb;
}

.course-staem-e {
    background-color: #79c235;
}

.course-staem-a {
    background-color: #e7e113;
}

.course-staem-m {
    background-color: #fe9d03;
}

.steam-char {
    font-size: 16px;
    font-weight: bold;
    color: white;
    border: none;
    width: 20px;
    height: 22px;
    display: inline-block;
    line-height: 20px;
    text-align: center;
    border-radius: 4px;
    margin-left: 1px;
}

.course-type-icon {
    font-size: 18px;
    margin: 0px 5px;
    color: rgb(17,138,195);
}

.td-course-start {
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 34px;
}

.course-start {
    padding: 0px;
    line-height: 0px;
    border: none;
    font-size: 20px;
    color: #0069d9;
}

    .course-start:hover {
        font-size: 24px;
    }

.course-step-complete {
    font-weight: bold;
    color: #218838;
}

.course-step-total {
    font-weight: bold;
    /*color: #0069d9;*/
}

.fa-flask.experiment-symbol {
    color: rgb(34,139,34);
    font-size: 18px;
}

.collapse.experiment-item .card-block {
    border: solid 2px rgb(188, 188, 188);
}

    .collapse.experiment-item .card-block .table.table-sm {
        margin-bottom: 0px;
        font-size: 14px;
    }

.experiment-atta-title {
    font-weight: bold;
    border: none;
    background-color: orange;
    border-radius: 10px;
    padding-left: 20px;
}

.experiment-attach-btn {
    padding: 0px 5px;
}


.experiment-content-text {
    width: 100%;
    overflow: hidden;
    flex-wrap: nowrap;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0px;
}

.carousel-control-prev, .carousel-control-next {
    color: rgb(17,138,195);
}

    .carousel-control-prev:hover, .carousel-control-next:hover {
        color: rgb(2,117,216);
    }

.wrap-circle-search {
    /*padding: 10px 0px;*/
}

    .wrap-circle-search table tbody td {
        border: none;
        padding: 2px 5px;
    }

.circle-item-header {
    border-radius: 50%;
    border: solid 2px rgb(17,138,195);
    box-shadow: 1px 1px 5px rgb(142,142,142);
}

/*.wrap-circle .horizontal-list .wrap-horizontal-list-item .horizontal-list-item {
    border: none;
    box-shadow: none;
}

.row-circle-friend-wrap {
    overflow: auto;
    padding: 15px;
}

.col-circle-friend-wrap {
    display: contents;
}*/

.col-circle-sidetoolbar {
    width: 50px;
    max-width: 50px;
    min-width: 50px;
    background-color: rgb(65,61,60);
    /*border-left:solid 1px rgb(227,224,223);*/
}

    .col-circle-sidetoolbar .btn-circle-stb-item {
        font-size: 24px;
        padding: 8px 0px;
        width: 50px;
        border-radius: 0;
        border: none;
    }

        .col-circle-sidetoolbar .btn-circle-stb-item .alert-circle-stb-item {
            position: absolute;
            top: 2px;
            right: 2px;
            border-radius: 50%;
            background-color: red;
            font-size: 10px;
            width: 16px;
            height: 16px;
            line-height: 16px;
            color: white;
        }

.col-circle-user-list {
    min-width: 240px;
    max-width: 240px;
    overflow: auto;
    /*border: 1px solid rgba(0, 0, 0, 0.125);*/
}

    .col-circle-user-list .card-header {
        padding: 0px;
        border-bottom: none;
        cursor: pointer;
    }

        .col-circle-user-list .card-header .btn-sm {
            border-radius: 0px;
            background-color: rgb(45,41,40);
            color: rgb(255,255,255);
        }

    .col-circle-user-list .header-circle-user-search {
        padding: 5px;
        background-color: rgb(236,234,232);
    }

        .col-circle-user-list .header-circle-user-search .col-header-circle-user-search {
            padding: 0px 5px 0px 0px;
            max-width: calc(100% - 30px);
            min-width: calc(100% - 30px);
        }

        .col-circle-user-list .header-circle-user-search .col-header-circle-button-search {
            max-width: 30px;
            min-width: 30px;
        }

            .col-circle-user-list .header-circle-user-search .col-header-circle-button-search .btn.btn-sm {
                padding: 0.20rem 0.45rem;
            }

    .col-circle-user-list .card {
        border: none;
        margin-top: 1px;
    }

        .col-circle-user-list .card:first-child {
            border: none;
            margin-top: 0px;
        }

    .col-circle-user-list .circle-user-list-group {
        background-color: rgb(227,224,223);
        font-size: 14px;
        line-height: 28px;
    }

        .col-circle-user-list .circle-user-list-group .col-circle-user-list-item-msg {
            min-width: 30px;
            padding: 0px;
        }

            .col-circle-user-list .circle-user-list-group .col-circle-user-list-item-msg .circle-user-list-item-msg {
                border-radius: 50%;
                border: none;
                background-color: rgb(234,84,21);
                width: 20px;
                height: 20px;
                color: white;
                line-height: 19px;
                text-align: center;
                font-size: 10px;
                font-weight: bold;
                margin-top: 8px;
                display: none;
            }

        .col-circle-user-list .circle-user-list-group .col-circle-user-list-item-header {
            min-width: 40px;
            padding: 2px 5px;
        }

            .col-circle-user-list .circle-user-list-group .col-circle-user-list-item-header .circle-user-list-item-header {
                border-radius: 5px;
                /*border-radius: 50%;
                border: solid 2px rgb(17,138,195);
                box-shadow: 1px 1px 5px rgb(142,142,142);*/
            }

            .col-circle-user-list .circle-user-list-group .col-circle-user-list-item-header .group-header-wrap {
                width: 32px;
                height: 32px;
                border-radius: 2px;
                background-color: rgb(220,222,223);
            }

                .col-circle-user-list .circle-user-list-group .col-circle-user-list-item-header .group-header-wrap .circle-group-item-header {
                    width: 10px;
                    height: 10px;
                    padding: 0px;
                    margin: 0px;
                    position: relative;
                    display: block;
                    float: left;
                }

        .col-circle-user-list .circle-user-list-group .row-circle-user-list-item {
            cursor: pointer;
            padding: 5px 0px;
        }

            .col-circle-user-list .circle-user-list-group .row-circle-user-list-item:hover {
                background-color: rgb(210,209,209);
            }

            .col-circle-user-list .circle-user-list-group .row-circle-user-list-item.active {
                background-color: rgb(189,190,191);
            }

                .col-circle-user-list .circle-user-list-group .row-circle-user-list-item.active:hover {
                    background-color: rgb(189,190,191);
                }

            .col-circle-user-list .circle-user-list-group .row-circle-user-list-item .col {
                line-height: 33px;
                overflow: hidden;
                flex-wrap: nowrap;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

        .col-circle-user-list .circle-user-list-group .row-circle-address-group-title {
            border-top: solid 1px rgb(217,217,217);
            color: rgb(153,153,153);
        }



.col-circle-message-list {
    max-width: calc(100% - 290px);
}

    .col-circle-message-list .container-circle-message-history {
        padding: 15px;
    }

    .col-circle-message-list .circle-input-drag {
        height: 5px;
        width: 100%;
        background-color: transparent;
        border-top: 2px solid rgb(203,204,203);
        cursor: n-resize;
    }

    .col-circle-message-list .circle-input-drag-proxy {
        position: absolute;
        height: 2px;
        width: 100%;
        background-color: rgb(203,204,203);
        display: none;
        visibility: hidden;
        cursor: n-resize;
        left: 5px;
        z-index: 9999;
    }

    .col-circle-message-list .row-circle-message-input-type {
        height: 25px;
    }

        .col-circle-message-list .row-circle-message-input-type .circle-message-input-type {
            cursor: pointer;
        }

            .col-circle-message-list .row-circle-message-input-type .circle-message-input-type:hover {
                border: 1px solid rgba(0,0,0,0.3);
                border-radius: 5px;
            }

    .col-circle-message-list .row-circle-message-input-field {
        height: calc(100% - 60px);
    }

        .col-circle-message-list .row-circle-message-input-field .circle-message-input-field {
            outline: none;
            overflow: auto;
        }

            .col-circle-message-list .row-circle-message-input-field .circle-message-input-field .emoji-item-in-field {
                width: 25px;
                margin-bottom: -5px;
            }

    .col-circle-message-list .row-circle-message-input-button {
        padding-top: 3px;
        font-size: 12px;
    }

        .col-circle-message-list .row-circle-message-input-button .circle-message-input-send {
            padding: 2px 5px;
        }

    .col-circle-message-list .col-circle-message-history-user {
        padding: 0px;
        border-bottom: solid 1px rgb(231,231,231);
        background-color: rgb(245,245,245);
    }

        .col-circle-message-list .col-circle-message-history-user .label-circle-message-history-user {
            margin: 0px;
            line-height: 29px;
            padding: 5px 15px;
            overflow: hidden;
            flex-wrap: nowrap;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

    .col-circle-message-list .col-circle-message-history {
        padding-top: 5px;
        background-color: rgb(245,245,245);
        overflow: auto;
    }

    .col-circle-message-list .row-message-item {
        padding-bottom: 5px;
        min-height: 40px;
    }

        .col-circle-message-list .row-message-item img.user-header {
            max-width: 30px;
            border-radius: 50%;
            border: solid 2px rgb(17,138,195);
            box-shadow: 1px 1px 5px rgb(142,142,142);
        }

        .col-circle-message-list .row-message-item .message-item-wrap {
            font-size: 14px;
        }

            .col-circle-message-list .row-message-item .message-item-wrap .message-item-content {
                border: rgba(0,0,0,0.3) 1px solid;
                margin-left: 10px;
                border-radius: 3px;
                background-color: rgb(255,255,255);
                text-align: left;
                width: max-content;
                padding: 5px 10px;
                max-width: 100%;
            }

            .col-circle-message-list .row-message-item .message-item-wrap.msg-item-wrap-right {
                position: relative;
                right: 0px;
            }

                .col-circle-message-list .row-message-item .message-item-wrap.msg-item-wrap-right .message-item-content {
                    right: -10px;
                    max-width: 100%;
                    position: relative;
                    margin-left: auto;
                    background-color: rgb(158,234,106);
                    border: none;
                }

            .col-circle-message-list .row-message-item .message-item-wrap .arrow-back {
                border-color: transparent;
                border-style: solid;
                border-width: 5px;
                height: 0px;
                width: 0px;
                position: absolute;
                top: 6px;
            }

                .col-circle-message-list .row-message-item .message-item-wrap .arrow-back.arrow-left {
                    border-color: transparent rgba(0,0,0,0.5) transparent transparent;
                }

                .col-circle-message-list .row-message-item .message-item-wrap .arrow-back.arrow-right {
                    /*right: 0px;*/
                    border-color: transparent transparent transparent rgb(158,234,106);
                    right: -20px;
                }

            .col-circle-message-list .row-message-item .message-item-wrap .arrow-front {
                border-color: transparent;
                border-style: solid;
                border-width: 5px;
                height: 0px;
                width: 0px;
                position: absolute;
                margin-left: 1px;
                top: 6px;
            }

                .col-circle-message-list .row-message-item .message-item-wrap .arrow-front.arrow-left {
                    border-color: transparent rgb(255,255,255) transparent transparent;
                }

                .col-circle-message-list .row-message-item .message-item-wrap .arrow-front.arrow-right {
                    /*right: 1px;*/
                    right: -19px;
                    border-color: transparent transparent transparent rgb(158,234,106);
                }

.row-circle-address-new-friend-item {
    padding: 5px 0px;
    border-bottom: solid 1px rgb(231,231,231);
}

    .row-circle-address-new-friend-item .col-new-friend-header {
        width: fit-content;
        padding-right: 0px;
        max-width: fit-content;
        flex: unset;
    }

        .row-circle-address-new-friend-item .col-new-friend-header .circle-address-new-friend-header {
            width: 50px;
            height: 50px;
            cursor: pointer;
        }

    .row-circle-address-new-friend-item .col-new-friend-content {
        font-size: 12px;
        text-align: left;
        padding-left: 0px;
    }

        .row-circle-address-new-friend-item .col-new-friend-content .col {
            height: 25px;
            line-height: 25px;
        }

    .row-circle-address-new-friend-item .col-new-friend-accept {
        width: 70px;
        font-size: 12px;
        color: #999999;
        max-width: fit-content;
        flex: unset;
    }

        .row-circle-address-new-friend-item .col-new-friend-accept .btn-new-friend-accept {
            width: 60px;
            padding: 0px 5px;
        }

.row-circle-address-channle-items {
}

    .row-circle-address-channle-items .col-1 {
        width: fit-content;
        flex: unset;
        max-width: fit-content;
    }

    .row-circle-address-channle-items .card {
        width: 60px;
        background-color: transparent;
        border: none;
        padding: 5px 0px;
    }

        .row-circle-address-channle-items .card:hover {
            background-color: rgb(230,230,230);
        }

        .row-circle-address-channle-items .card img {
            border-radius: 50%;
            cursor: pointer;
            width: 50px;
            align-self: center;
        }

        .row-circle-address-channle-items .card .card-body {
            font-size: 12px;
            text-align: center;
            padding: 0px;
        }

.row-circle-address-group-items {
}

    .row-circle-address-group-items .col-1 {
        width: fit-content;
        flex: unset;
        max-width: fit-content;
    }

    .row-circle-address-group-items .card {
        width: 60px;
        background-color: transparent;
        border: none;
        padding: 5px 0px;
    }

        .row-circle-address-group-items .card:hover {
            background-color: rgb(230,230,230);
        }

        .row-circle-address-group-items .card img {
            border-radius: 5px;
            cursor: pointer;
            width: 50px;
            align-self: center;
        }

        .row-circle-address-group-items .card .card-body {
            font-size: 12px;
            text-align: center;
            color: rgb(153,153,153);
            padding: 0px;
        }

            .row-circle-address-group-items .card .card-body p {
                padding: 5px 0px;
            }

.channel-popover-wrap {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgb(255,255,255);
    width: 250px;
    padding: 10px 0px;
}

    .channel-popover-wrap .channel-name {
        height: 25px;
        line-height: 25px;
        font-size: 14px;
        width: 140px;
    }

    .channel-popover-wrap .channel-code {
        height: 25px;
        line-height: 25px;
        font-size: 12px;
        color: rgb(153,153,153);
    }

    .channel-popover-wrap .channel-header {
        width: 50px;
        height: 50px;
    }

    .channel-popover-wrap .col-channel-detail {
        font-size: 12px;
        padding: 10px 15px;
    }

        .channel-popover-wrap .col-channel-detail p {
            border-top: solid 1px rgb(244,244,244);
            padding-top: 10px;
        }

    .channel-popover-wrap .btn.btn-sm {
        background-color: transparent;
        color: rgb(153,153,153);
        border: none;
        font-size: 18px;
    }

        .channel-popover-wrap .btn.btn-sm:hover {
            color: rgb(0,0,0);
        }

        .channel-popover-wrap .btn.btn-sm:focus {
            box-shadow: none;
        }

.col-circle-search-container {
}

.col-circle-itemlist-container {
    overflow: auto;
    background-color: rgb(227,224,223);
}

.popover {
    max-width: unset;
}

    .popover .popover-content {
        padding: 0px;
    }

    .popover .wrap-emoji-popover {
        min-width: 300px;
        max-width: 300px;
    }

        .popover .wrap-emoji-popover .col-emoji-items {
            padding: 10px 10px 5px 10px;
            overflow: auto;
            height: 200px;
        }

            .popover .wrap-emoji-popover .col-emoji-items .wrap-emoji-items {
                border-radius: 5px;
            }

                .popover .wrap-emoji-popover .col-emoji-items .wrap-emoji-items .container-emoji-items .emoji-item {
                    width: 30px;
                    cursor: pointer;
                    margin-bottom: 5px;
                }

        .popover .wrap-emoji-popover .row-emoji-groups {
            height: 30px;
        }

            .popover .wrap-emoji-popover .row-emoji-groups .col-emoji-groups {
                width: calc(100% - 75px);
                line-height: 25px;
                overflow: hidden;
                margin: 0px 5px;
            }

                .popover .wrap-emoji-popover .row-emoji-groups .col-emoji-groups .container-emoji-groups {
                    width: max-content;
                    position: relative;
                }

                    .popover .wrap-emoji-popover .row-emoji-groups .col-emoji-groups .container-emoji-groups .emoji-groups-item {
                        width: 25px;
                        cursor: pointer;
                    }

            .popover .wrap-emoji-popover .row-emoji-groups .col-emoji-groups-buttons {
                max-width: 70px;
                padding: 2px;
            }

                .popover .wrap-emoji-popover .row-emoji-groups .col-emoji-groups-buttons .emoji-groups-button {
                    line-height: 17px;
                }

.card-settings {
}

    .card-settings .nav-item {
        cursor: pointer;
    }

        .card-settings .nav-item .nav-item-icon {
            margin-right: 5px;
        }

    .card-settings .wrap-settings-profile-header img {
        background-color: rgba(0,0,0,0.5);
        border-radius: 50%;
        border: solid 2px rgb(17,138,195);
        box-shadow: 1px 1px 5px rgb(142,142,142);
        cursor: pointer;
        vertical-align: bottom;
        margin-right: 15px;
    }

        .card-settings .wrap-settings-profile-header img#img_Settings_Profile_Header_B {
            width: 128px;
            height: 128px;
        }

        .card-settings .wrap-settings-profile-header img#img_Settings_Profile_Header_M {
            width: 64px;
            height: 64px;
        }

        .card-settings .wrap-settings-profile-header img#img_Settings_Profile_Header_S {
            width: 32px;
            height: 32px;
        }

    .card-settings .form-check-input {
        margin-right: 10px;
    }

    .card-settings .row-settings-form-city select {
        padding: 0px 10px;
    }

    .card-settings .row-settings-form-city label {
        line-height: 38px;
    }

        .card-settings .row-settings-form-city label.symbol-label {
            text-align: left;
            padding-left: 10px;
        }


    .card-settings form label.col-form-label {
        height: 38px;
        display: block;
        text-align: justify;
    }

        .card-settings form label.col-form-label:after {
            content: " ";
            display: inline-block;
            width: 100%;
        }

    .card-settings .wrap-settings-change-pwd .label-pwd-intension {
        font-style: normal;
        font-size: 14px;
        padding-right: 5px;
        min-width: 35px;
        font-weight: bold;
    }

#modalCustomHeader {
}

    #modalCustomHeader .modal-title {
        font-size: 16px;
    }

    #modalCustomHeader #canvas_CustomHeader {
        width: 322px;
        height: 322px;
        border: solid 1px rgb(175,175,175);
        background-color: rgb(0,0,0);
    }


    #modalCustomHeader .canvas-sample {
        /*border: solid 1px rgb(175,175,175);*/
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
    }

        #modalCustomHeader .canvas-sample #canvas_Sample_1 {
            width: 100px;
            height: 100px;
        }

        #modalCustomHeader .canvas-sample #canvas_Sample_2 {
            width: 64px;
            height: 64px;
        }

        #modalCustomHeader .canvas-sample #canvas_Sample_3 {
            width: 24px;
            height: 24px;
        }

    #modalCustomHeader .object {
        width: 20px;
        height: 20px;
        background-color: #FFF;
        position: absolute;
        -moz-border-radius: 50% 50% 50% 50%;
        -webkit-border-radius: 50% 50% 50% 50%;
        border-radius: 50% 50% 50% 50%;
        -webkit-animation: animate 0.8s infinite;
        animation: animate 0.8s infinite;
    }

        #modalCustomHeader .object #object_one {
            top: 19px;
            left: 19px;
        }

        #modalCustomHeader .object #object_two {
            top: 0px;
            left: 65px;
            -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s;
        }

        #modalCustomHeader .object #object_three {
            top: 19px;
            left: 111px;
            -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s;
        }

        #modalCustomHeader .object #object_four {
            top: 65px;
            left: 130px;
            -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
        }

        #modalCustomHeader .object #object_five {
            top: 111px;
            left: 111px;
            -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s;
        }

        #modalCustomHeader .object #object_six {
            top: 130px;
            left: 65px;
            -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
        }

        #modalCustomHeader .object #object_seven {
            top: 111px;
            left: 19px;
            -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s;
        }

        #modalCustomHeader .object #object_eight {
            top: 65px;
            left: 0px;
            -webkit-animation-delay: 0.7s;
            animation-delay: 0.7s;
        }

    #modalCustomHeader #wrap_CropBox_Header {
        position: absolute;
        top: 0px;
        left: 15px;
        display: none;
    }

    #modalCustomHeader #CropBox_Header {
        border: 1px solid rgb(56,56,56);
        position: absolute;
    }

    #modalCustomHeader #dragRightBot {
        position: absolute;
        width: 8px;
        height: 8px;
        border: 1px solid #000;
        background: white;
        overflow: hidden;
        right: -4px;
        bottom: -4px;
        cursor: se-resize;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
    }

    #modalCustomHeader .container-canvas-samples .row {
        padding-bottom: 5px;
    }

    #modalCustomHeader #DragBg_Header {
        height: 100%;
        background: white;
        opacity: 0.3;
        filter: alpha(opacity=30);
        cursor: move;
    }


@-webkit-keyframes animate {

    25% {
        -ms-transform: scale(1.5);
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }

    75% {
        -ms-transform: scale(0);
        -webkit-transform: scale(0);
        transform: scale(0);
    }
}

@keyframes animate {
    50% {
        -ms-transform: scale(1.5,1.5);
        -webkit-transform: scale(1.5,1.5);
        transform: scale(1.5,1.5);
    }

    100% {
        -ms-transform: scale(1,1);
        -webkit-transform: scale(1,1);
        transform: scale(1,1);
    }
}

.wrap-report {
}

    .wrap-report .row-report-section {
        min-width: 800px;
        border-bottom: solid 1px rgb(243,243,243);
        padding: 15px 50px 50px 50px;
    }

        .wrap-report .row-report-section:last-child {
            padding-bottom: 0px;
        }

    .wrap-report .report-section-title {
        font-size: 2rem;
    }

    .wrap-report .col-report-overview {
    }

        .wrap-report .col-report-overview .report-date-text {
            color: rgb(144,197,83);
            letter-spacing: 3px;
            font-size: 11px;
        }

        .wrap-report .col-report-overview .row-report-overview-header {
            height: 105px;
        }

            .wrap-report .col-report-overview .row-report-overview-header .wrap-report-overview-header {
                position: absolute;
                width: 420px;
            }

                .wrap-report .col-report-overview .row-report-overview-header .wrap-report-overview-header .hr-report-overview-header {
                    height: 2px;
                    color: rgb(239,239,239);
                    margin: 5px 0px;
                }

            .wrap-report .col-report-overview .row-report-overview-header .img-report-overview-header {
                width: 85px;
                height: 85px;
                background-color: rgb(185,185,185);
                border: 3px solid rgb(151,185,224);
                -moz-border-radius: 10px;
                -webkit-border-radius: 10px;
                border-radius: 10px;
                box-shadow: 0px 0px 15px rgb(46,88,136);
            }

        .wrap-report .col-report-overview .col-report-overview-graph .report-overview-rank-part-div {
            width: 100%;
            background-image: url(../image/smlperson.png);
        }

        .wrap-report .col-report-overview .col-report-overview-graph .report-overview-rank-part-1 {
            display: inline-block;
            FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=1,startColorStr=rgb(195,236,148),endColorStr=rgb(139,195,74));
            background: -ms-linear-gradient(left, rgb(195,236,148), rgb(139,195,74));
            background: -moz-linear-gradient(left, rgb(195,236,148), rgb(139,195,74));
            background: -webkit-gradient(linear, 0% 0%, 100% 0%, from(rgb(195,236,148)), to(rgb(139,195,74)));
            background: -webkit-linear-gradient(left, rgb(195,236,148), rgb(139,195,74));
            background: -o-linear-gradient(left, rgb(195,236,148), rgb(139,195,74));
        }

        .wrap-report .col-report-overview .col-report-overview-graph .report-overview-rank-part-2 {
            background-color: rgb(139,195,74);
            display: inline-block;
        }

        .wrap-report .col-report-overview .col-report-overview-graph .report-overview-rank-part-3 {
            background-color: rgb(223,223,222);
            display: inline-block;
        }

    .wrap-report .col-report-time .col-report-time-arrow {
        max-width: 30px;
    }

        .wrap-report .col-report-time .col-report-time-arrow .report-time-arrow-right, .wrap-report .col-report-time .col-report-time-arrow .report-time-arrow-left {
            cursor: pointer;
        }

            .wrap-report .col-report-time .col-report-time-arrow .report-time-arrow-right:hover, .wrap-report .col-report-time .col-report-time-arrow .report-time-arrow-left:hover {
                font-size: 20px;
            }

    .wrap-report .col-report-time .row-report-time-timebar {
        padding: 15px 0px;
    }

        .wrap-report .col-report-time .row-report-time-timebar .col-report-time-timebar {
            height: 210px;
        }

            .wrap-report .col-report-time .row-report-time-timebar .col-report-time-timebar .wrap-report-time-timebar-graph {
                height: 100%;
                overflow: hidden;
            }

    .wrap-report .col-report-time .row-report-time-piechat {
        padding: 15px 0px;
    }

        .wrap-report .col-report-time .row-report-time-piechat .report-time-arrow-right {
            /*margin-bottom: 60px;*/
        }

        .wrap-report .col-report-time .row-report-time-piechat .report-time-arrow-left {
            /*margin-bottom: 60px;*/
        }

        .wrap-report .col-report-time .row-report-time-piechat .col-report-time-piechat {
            height: 210px;
        }

            .wrap-report .col-report-time .row-report-time-piechat .col-report-time-piechat .wrap-report-time-piechat-graph {
                height: 100%;
                overflow: hidden;
            }

            .wrap-report .col-report-time .row-report-time-piechat .col-report-time-piechat .wrap-report-time-piechat-graph {
                height: 100%;
                overflow: hidden;
            }

    .wrap-report .col-report-attention .report-attention-pdf-button {
        cursor: pointer;
    }

    .wrap-report .col-report-attention .report-attention-header {
        position: absolute;
    }

        .wrap-report .col-report-attention .report-attention-header.header-img {
            background-color: rgb(165,165,165);
            border: 3px solid rgb(255,255,255);
            -moz-border-radius: 10px;
            -webkit-border-radius: 10px;
            border-radius: 10px;
            /*border-color: rgb(151,185,224);*/
            box-shadow: 0px 0px 10px rgb(221,221,221);
        }

        .wrap-report .col-report-attention .report-attention-header.header-point {
            background-color: rgb(255,51,102);
            position: absolute;
            box-shadow: 0px 0px 20px rgb(255,51,102);
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            border-radius: 50%;
        }

.text-10 {
    font-size: 10px;
}

.text-12 {
    font-size: 12px;
}

.text-13 {
    font-size: 13px;
}

.text-14 {
    font-size: 14px;
}

.text-16 {
    font-size: 16px;
}

.text-21 {
    font-size: 21px;
}

.text-bold {
    font-weight: bold;
}

.text-90c553 {
    color: #90c553;
}

.text-fc8823 {
    color: #fc8823;
}

.text-eaeaea {
    color: #eaeaea;
}

.text-999999 {
    color: #999999;
}

.padding-10 {
    padding: 10px;
}

.padding-30-0 {
    padding: 30px 0px;
}

.padding-20-0 {
    padding: 20px 0px;
}

.padding-l-30 {
    padding-left: 30px;
}

.btn-gray {
    color: rgb(88,88,88);
    background-color: rgb(219,217,216);
    border: none;
    background-image: none;
    border-radius: 5px;
}

    .btn-gray:hover {
        color: rgb(26,26,26);
        background-color: rgb(209,209,209);
    }

    .btn-gray:focus, .btn-gray.focus {
        color: rgb(26,26,26);
        background-color: rgb(209,209,209);
    }

    .btn-gray.disabled, .btn-gray:disabled {
        color: rgb(88,88,88);
        background-color: rgb(219,217,216);
    }

    .btn-gray:active, .btn-gray.active,
    .show > .btn-gray.dropdown-toggle {
        color: rgb(26,26,26);
        background-color: rgb(209,209,209);
    }

.emoji-item-in-field {
    width: 25px;
    margin-bottom: -5px;
}

.bell-alert {
    animation: bell-animation 1s infinite;
}

@keyframes bell-animation {
    0% {
        color: rgb(204, 204, 204);
    }

    50% {
        color: rgb(234, 84, 21);
    }

    100% {
        color: rgb(204, 204, 204);
    }
}

.row-circle-message-part-2 {
    display: none;
    background-color: rgb(245, 245, 245);
    height: calc(100% - 40px);
}

    .row-circle-message-part-2 .container-circle-friend-item-detail {
        padding: 20px;
        width: 350px;
        font-size: 12px;
    }

        .row-circle-message-part-2 .container-circle-friend-item-detail .row {
            padding: 5px;
        }

        .row-circle-message-part-2 .container-circle-friend-item-detail p {
            height: 30px;
            line-height: 30px;
        }

        .row-circle-message-part-2 .container-circle-friend-item-detail svg {
            height: 20px;
            width: 20px;
        }

            .row-circle-message-part-2 .container-circle-friend-item-detail svg.fa-female {
                color: rgb(243,126,125);
            }

            .row-circle-message-part-2 .container-circle-friend-item-detail svg.fa-male {
                color: rgb(70,182,239);
            }

        .row-circle-message-part-2 .container-circle-friend-item-detail .col-circle-friend-item-detail-header {
            width: 90px;
            flex: unset;
            max-width: fit-content;
        }

        .row-circle-message-part-2 .container-circle-friend-item-detail .circle-friend-item-detail-header {
            width: 60px;
            height: 60px;
        }

        .row-circle-message-part-2 .container-circle-friend-item-detail .s-circle-friend-item-detail-name {
            font-size: 16px;
            font-weight: bold;
        }

        .row-circle-message-part-2 .container-circle-friend-item-detail .p-circle-friend-item-detail-note {
            color: rgb(153,153,153);
        }

        .row-circle-message-part-2 .container-circle-friend-item-detail #txt_Circle_Friend_Item_Detail_Comment {
            border: none;
            padding: 0px;
            background-color: transparent;
        }

        .row-circle-message-part-2 .container-circle-friend-item-detail .col-circle-friend-item-detail-th {
            color: rgb(153,153,153);
            text-align: justify;
            text-align-last: justify;
            width: 80px;
        }

        .row-circle-message-part-2 .container-circle-friend-item-detail .row-circle-friend-item-detail-comment {
            padding-top: 15px;
            border-top: solid 1px rgb(231,231,231);
        }

        .row-circle-message-part-2 .container-circle-friend-item-detail .col-circle-friend-item-detail-address {
        }

        .row-circle-message-part-2 .container-circle-friend-item-detail .row-circle-friend-item-detail-symbol {
            padding-bottom: 15px;
            border-bottom: solid 1px rgb(231,231,231);
        }

            .row-circle-message-part-2 .container-circle-friend-item-detail .row-circle-friend-item-detail-symbol .col-circle-friend-item-detail-symbol {
            }

        .row-circle-message-part-2 .container-circle-friend-item-detail .btn-circle-friend-item-detail-replay {
            background-color: transparent;
            color: rgb(153,153,153);
            border: none;
            font-size: 18px;
        }

            .row-circle-message-part-2 .container-circle-friend-item-detail .btn-circle-friend-item-detail-replay:hover {
                color: rgb(0,0,0);
            }

            .row-circle-message-part-2 .container-circle-friend-item-detail .btn-circle-friend-item-detail-replay:focus {
                box-shadow: none;
            }

        .row-circle-message-part-2 .container-circle-friend-item-detail .btn-circle-friend-item-detail-talk {
            width: 60px;
            padding: 0px 5px;
        }

.group-item-popover-wrap {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgb(255,255,255);
    width: 300px;
}

    .group-item-popover-wrap .container-circle-group-user-detail {
        padding: 20px;
        font-size: 12px;
    }

        .group-item-popover-wrap .container-circle-group-user-detail .row {
            padding: 5px;
        }

        .group-item-popover-wrap .container-circle-group-user-detail p {
            height: 30px;
            line-height: 30px;
        }

        .group-item-popover-wrap .container-circle-group-user-detail svg {
            height: 20px;
            width: 20px;
        }

            .group-item-popover-wrap .container-circle-group-user-detail svg.fa-female {
                color: rgb(243,126,125);
            }

            .group-item-popover-wrap .container-circle-group-user-detail svg.fa-male {
                color: rgb(70,182,239);
            }

        .group-item-popover-wrap .container-circle-group-user-detail .col-circle-group-user-detail-header {
            width: 90px;
            flex: unset;
            max-width: fit-content;
        }

        .group-item-popover-wrap .container-circle-group-user-detail .circle-group-user-detail-header {
            width: 60px;
            height: 60px;
        }

        .group-item-popover-wrap .container-circle-group-user-detail .s-circle-group-user-detail-name {
            font-size: 16px;
            font-weight: bold;
        }

        .group-item-popover-wrap .container-circle-group-user-detail .p-circle-group-user-detail-note {
            color: rgb(153,153,153);
        }

        .group-item-popover-wrap .container-circle-group-user-detail #txt_Circle_Group_User_Detail_Comment {
            border: none;
            padding: 0px;
            background-color: transparent;
        }

        .group-item-popover-wrap .container-circle-group-user-detail .col-circle-group-user-detail-th {
            color: rgb(153,153,153);
            text-align: justify;
            text-align-last: justify;
            width: 80px;
        }

        .group-item-popover-wrap .container-circle-group-user-detail .btn.btn-sm {
            background-color: transparent;
            color: rgb(153,153,153);
            border: none;
            font-size: 18px;
        }

            .group-item-popover-wrap .container-circle-group-user-detail .btn.btn-sm:hover {
                color: rgb(0,0,0);
            }

            .group-item-popover-wrap .container-circle-group-user-detail .btn.btn-sm:focus {
                box-shadow: none;
            }

.col-circle-message-history-button {
    border-bottom: solid 1px rgb(231,231,231);
    background-color: rgb(245,245,245);
    text-align: center;
}

    .col-circle-message-history-button .btn.btn-sm {
        color: rgb(153,153,153);
        background-color: transparent;
        border: none;
        font-size: 16px;
        padding: 0px;
        height: 20px;
        height: 38px;
    }

        .col-circle-message-history-button .btn.btn-sm:hover {
            color: rgb(0,0,0);
        }

        .col-circle-message-history-button .btn.btn-sm:focus {
            box-shadow: none;
        }

.setting-bar-chatter {
    display: none;
    border-left: solid 1px rgb(236,236,236);
    background-color: rgb(255,255,255);
    height: calc(100% - 45px);
    width: 260px;
    position: absolute;
    top: 45px;
    right: 0px;
    overflow-y: auto;
}

    .setting-bar-chatter .row-headers {
        padding: 15px;
        padding-bottom: 0px;
    }

        .setting-bar-chatter .row-headers .col-3 {
            padding: 0px;
            text-align: center;
        }

            .setting-bar-chatter .row-headers .col-3 p {
                color: rgb(68,68,68);
                font-size: 10px;
                padding: 5px;
                overflow: hidden;
                flex-wrap: nowrap;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            .setting-bar-chatter .row-headers .col-3 .user-header {
                width: 35px;
                height: 35px;
                cursor: pointer;
            }

            .setting-bar-chatter .row-headers .col-3 .btn-add-user-to-group {
                background-color: transparent;
                border: solid 1px rgb(226,226,226);
                width: 35px;
                height: 35px;
            }

                .setting-bar-chatter .row-headers .col-3 .btn-add-user-to-group:hover {
                    border-color: rgb(205,205,205);
                }

    .setting-bar-chatter .row-show-more .col div {
        font-size: 12px;
        text-align: center;
        padding-top: 5px;
        color: rgb(153,153,153);
        cursor: pointer;
    }

    .setting-bar-chatter .row-split {
        padding: 15px;
    }

        .setting-bar-chatter .row-split .col-split {
            border-bottom: solid 1px rgb(236,236,236);
        }

    .setting-bar-chatter .row-group-option {
        font-size: 12px;
        color: rgb(153,153,153);
    }

        .setting-bar-chatter .row-group-option .form-group {
            margin-bottom: 10px;
        }

            .setting-bar-chatter .row-group-option .form-group .textarea-group-option {
                border: none;
                background-color: transparent;
                width: 100%;
                color: rgb(0,0,0);
            }

                .setting-bar-chatter .row-group-option .form-group .textarea-group-option:hover {
                    cursor: pointer;
                }

    .setting-bar-chatter .row-switch {
    }

        .setting-bar-chatter .row-switch label {
            font-size: 12px;
            color: rgb(153,153,153);
        }

        .setting-bar-chatter .row-switch .form-control {
            border: none;
            padding: 0px;
        }

            .setting-bar-chatter .row-switch .form-control:focus {
            }

            .setting-bar-chatter .row-switch .form-control .switch.switch-small {
            }

                .setting-bar-chatter .row-switch .form-control .switch.switch-small:focus {
                    outline: none;
                }

                .setting-bar-chatter .row-switch .form-control .switch.switch-small .switch.has-switch {
                    height: 20px;
                    z-index: 0;
                }

                    .setting-bar-chatter .row-switch .form-control .switch.switch-small .switch.has-switch .switch-animate span {
                        line-height: 12px;
                        font-size: 12px;
                        top: -4px;
                    }

.user-popover-wrap {
    width: 300px;
    height: 230px;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(255,255,255,1);
    box-shadow: 2px 2px 5px rgb(153,153,153);
    border-radius: 5px;
}

    .user-popover-wrap .container-user-popover {
        padding: 20px;
        font-size: 14px;
    }

    .user-popover-wrap .user-popover-name {
        font-size: 16px;
        padding-right: 10px;
    }

    .user-popover-wrap .fa-female {
        color: rgb(243,126,125);
    }

    .user-popover-wrap .fa-male {
        color: rgb(70,182,239);
    }

    .user-popover-wrap .col-user-popover-th {
        color: rgb(153,153,153);
        text-align: justify;
        text-align-last: justify;
        width: 80px;
    }

    .user-popover-wrap .user-popover-symbol {
        color: rgb(153,153,153);
    }

    .user-popover-wrap .user-popover-header {
        width: 60px;
        height: 60px;
    }

    .user-popover-wrap .row-split {
        padding: 10px 15px;
    }

    .user-popover-wrap .col-split {
        border-top: solid 1px rgb(244,244,244);
    }

    .user-popover-wrap .row-user-popover-comment #txt_User_Popover_Comment {
        border: none;
        padding: 0px;
        background-color: transparent;
    }

    .user-popover-wrap .btn-user-popover {
        background-color: transparent;
        color: rgb(153,153,153);
        border: none;
        font-size: 18px;
    }

        .user-popover-wrap .btn-user-popover:hover {
            color: rgb(0,0,0);
        }

        .user-popover-wrap .btn-user-popover:focus {
            box-shadow: none;
        }

    .user-popover-wrap .row-buttons {
        padding-top: 15px;
    }

        .user-popover-wrap .row-buttons svg {
            font-size: 25px;
        }

#modal_Course_Buy {
}

    #modal_Course_Buy .modal-body {
    }

        #modal_Course_Buy .modal-body .col-course-card {
            height: 280px;
            padding: 5px 0px;
        }

        #modal_Course_Buy .modal-body .col-course-detail {
            height: 280px;
            padding: 5px 0px 5px 10px;
        }

            #modal_Course_Buy .modal-body .col-course-detail .card {
                border: none;
            }

                #modal_Course_Buy .modal-body .col-course-detail .card .card-header {
                    padding: 2px 5px;
                    border-bottom-width: 1px;
                    background-color: transparent;
                }

                    #modal_Course_Buy .modal-body .col-course-detail .card .card-header ul {
                        margin: 0px;
                        margin-bottom: -2px;
                        border: none;
                    }

                        #modal_Course_Buy .modal-body .col-course-detail .card .card-header ul li a {
                            padding: 3px;
                            font-size: 14px;
                        }

                #modal_Course_Buy .modal-body .col-course-detail .card .card-body {
                    border: solid 1px rgba(0, 0, 0, 0.125);
                    border-top: none;
                    height: 240px;
                    overflow: auto;
                    font-size: 14px;
                    text-align: left;
                    padding: 5px;
                }

                    #modal_Course_Buy .modal-body .col-course-detail .card .card-body thead th {
                        border: none;
                    }

                    #modal_Course_Buy .modal-body .col-course-detail .card .card-body thead th.th-course-diff svg{
                        color: gold;
                    }

#modalFindFriend {
}

    #modalFindFriend .btn-circle-addfriend-search {
        margin-left: -1px;
    }

        #modalFindFriend .btn-circle-addfriend-search div {
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
            cursor: pointer;
        }

            #modalFindFriend .btn-circle-addfriend-search div:hover {
                border: 1px solid #e9ecef;
                background-color: #ced4da;
            }

    #modalFindFriend .col-result-title {
        padding: 10px 15px;
        font-size: 14px;
        font-weight: bold;
    }

    #modalFindFriend .col-result-container {
        height: 200px;
        overflow: auto;
    }

    #modalFindFriend .container-result {
    }

        #modalFindFriend .container-result .row-result-item {
            padding: 5px 0px;
            border-bottom: solid 1px rgb(231,231,231);
        }

            #modalFindFriend .container-result .row-result-item .col-result-item-header {
                width: fit-content;
                flex: unset;
                max-width: fit-content;
            }

                #modalFindFriend .container-result .row-result-item .col-result-item-header img {
                    width: 50px;
                    height: 50px;
                }

            #modalFindFriend .container-result .row-result-item .col-result-item-content {
                font-size: 12px;
                text-align: left;
                padding-left: 0px;
            }

                #modalFindFriend .container-result .row-result-item .col-result-item-content .content {
                    height: 25px;
                    line-height: 25px;
                    color: #999999;
                }

                    #modalFindFriend .container-result .row-result-item .col-result-item-content .content .fa-female {
                        color: rgb(243,126,125);
                        margin: 0px 10px;
                        font-size: 16px;
                    }

                    #modalFindFriend .container-result .row-result-item .col-result-item-content .content .fa-male {
                        color: rgb(70,182,239);
                        margin: 0px 10px;
                        font-size: 16px;
                    }

                #modalFindFriend .container-result .row-result-item .col-result-item-content .msg {
                    height: 25px;
                    line-height: 25px;
                }

                    #modalFindFriend .container-result .row-result-item .col-result-item-content .msg input {
                        border: none;
                        padding: 0px;
                        background-color: transparent;
                    }

            #modalFindFriend .container-result .row-result-item .col-result-item-action {
                width: 130px;
                font-size: 12px;
                color: #999999;
                max-width: fit-content;
                flex: unset;
            }

                #modalFindFriend .container-result .row-result-item .col-result-item-action button {
                    width: 120px;
                    padding: 0px 5px;
                }
