.no-wrap {
    margin: 0px;
    padding: 0px;
}

.padding-5-10 {
    padding: 5px 10px;
}

no-border {
    border: none;
}

bg-trans {
    background-color: transparent;
}

.font-14 {
    font-size: 14px;
}

.lh-38 {
    line-height: 38px;
}

.minW-100 {
    min-width: 100px;
}

.main-container {
    min-height: 800px;
    min-width: 1150px;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

header {
    height: 55px;
    width: 100%;
    position: static;
}

.navbar.navbar-expand-lg.navbar-light {
    background-color: rgb(246,246,246);
    z-index: 1040;
    padding: 10px 5px;
}

    .navbar.navbar-expand-lg.navbar-light .navbar-brand {
        padding: 0px 20px;
    }

.navbar-light .navbar-nav .nav-link {
    color: rgb(102,102,120);
}

    .navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
        color: rgb(67,166,239);
        font-weight: bold;
    }

#btn_Student_SignIn {
    border-radius: 10px;
    margin-left: 10px;
}

.nav-bar-signin-text {
    line-height: 24px;
}

nav-ul-container {
    padding-right: 0px;
}

#btn_Student_SignIn span.fa-stack {
    color: rgb( 255,255,0);
    font-size: 12px;
}

.mood-group .btn.btn-primary.active {
    margin-left: 10px;
    padding: 4px 8px;
    line-height: 25px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.mood-group .mood-text {
    font-size: 14px;
}

.mood-group span.fa-stack {
    color: rgb(240,140,140);
    font-size: 12px;
}

.mood-group .mood-button {
    padding: 4px 8px;
    line-height: 25px;
    cursor: pointer;
}

    .mood-group .mood-button.mood-last {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }

.main-content-wrap {
    height: 100%;
}

    .main-content-wrap .main-content-row {
        background-color: rgb(38,50,56);
        overflow: auto;
    }

#sideBar_Page_Left {
    min-width: 160px;
    max-width: 200px;
    min-height: 760px;
    background-color: rgb(38,50,56);
    color: rgb(255,255,255);
    padding: 0px;
}

.left-sidebar-wrap {
    padding: 0px;
}

    .left-sidebar-wrap .user-infors {
        padding: 20px 0px;
    }

#txt_NickName_Profile_Title {
    padding-top: 20px;
}

#img_Profile_Title {
    width: 100px;
    height: 100px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.left-bar-category-item {
    margin: 0px;
    cursor: pointer;
    /*color: rgb(85,103,110);*/
    color: rgb(255,255,255);
    background-color: rgb(38, 50, 56);
}

    .left-bar-category-item .text-center {
        height: 60px;
        line-height: 60px;
        color: rgb(85,103,110);
    }

        .left-bar-category-item .text-center div {
            margin-left: 5px;
        }

    .left-bar-category-item i.fa {
        font-size: 24px;
    }

    .left-bar-category-item.active-item {
        background-color: rgb(46,60,66);
    }

        .left-bar-category-item.active-item i.fa {
            color: rgb(236,64,122);
        }

.left-bar-message-count, .left-bar-homework-count {
    width: 40px;
    margin-left: 10px;
    display: inline-block;
    text-align: center;
    font-size: 16px;
    background-color: rgb(236,64,122);
    color: rgb(255,255,255);
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
}

.left-bar-homework-count {
    font-size: 14px;
    line-height: 24px;
}

#wrap_Category_Title {
    min-width: 150px;
    max-width: 150px;
    background-color: rgb(248, 250, 251);
    padding: 0px;
}

#Content_Overview_Course {
    background-color: rgb(255,255,255);
    border-bottom: solid 1px rgb(236,239,241);
}

#wrap_Overview_Course_Items {
    height: 100%;
    overflow: hidden;
}

.overview-course-item {
    display: inline-block;
    height: 100%;
}

.overview-course-item-wrap {
    padding: 0px;
    border: solid 1px rgb(237,240,242);
    box-shadow: 1px 1px 5px rgb(188,188,188);
}

.overview-course-item-symbol {
    padding: 0px 5px;
    color: rgb(73,175,79);
    color: rgb(119,118,123);
}

.overview-course-item-title {
    font-weight: bold;
    padding-top: 5px;
    text-overflow: ellipsis;
    overflow-x: hidden;
    white-space: nowrap;
}

#Content_Overview_Experience {
    background-color: rgb(255,255,255);
    border-bottom: solid 1px rgb(236,239,241);
}

.overview-title-item-data {
    font-size: 1.6rem;
    font-weight: bold;
    color: rgb(0,0,0);
    padding-left: 3px;
    padding-right: 3px;
}

.overview-title-item-text {
    color: rgb(107,129,140);
}

.overview-honor-item {
    display: inline-block;
    height: 100%;
    padding-right: 10px;
}

.overview-honor-item-text {
    color: rgb(147,146,145);
    font-size: 13px;
    font-weight: bold;
    padding-top: 10px;
    margin: 0px;
}

    .overview-honor-item-text.active-item {
        color: rgb(68,191,160);
    }

.overview-list-arrow {
    cursor: pointer;
}

    .overview-list-arrow:hover {
        font-size: 20px;
    }

.container-fluid.wrap-homework-section {
    background-color: rgb(255,255,255);
    border-left: solid 5px rgb(237,87,138);
}

.container-fluid.wrap-homework-items {
    background-color: rgb(255,255,255);
}

.homework-title i.fa {
    font-size: 48px;
    cursor: pointer;
    color: rgb(255,255,255);
}

.homework-item-correct-count {
    min-width: 20px;
    color: rgb(34,139,34);
}

.homework-item-question-count {
    min-width: 20px;
    color: rgb(243,151,0);
}

.homework-item-incorrect-count {
    min-width: 20px;
    color: rgb(255,0,0);
}

.collapse.profile-homework-item .card-block {
    border: solid 2px rgb(188, 188, 188);
}

    .collapse.profile-homework-item .card-block .table.table-sm {
        margin-bottom: 0px;
        font-size: 14px;
    }

.homework-exp-atta-title {
    font-weight: bold;
    border: none;
    background-color: orange;
    border-radius: 10px;
    padding-left: 20px;
}

.homework-contents-table-cell {
    padding: 5px 10px;
}

    .homework-contents-table-cell .hw-contents-item-row .title-cell {
        padding: 5px 10px;
        border: none;
    }

        .homework-contents-table-cell .hw-contents-item-row .title-cell.sequence {
            width: 50px;
        }

        .homework-contents-table-cell .hw-contents-item-row .title-cell.content {
            font-size: 15px;
        }

        .homework-contents-table-cell .hw-contents-item-row .title-cell.button {
            width: 80px;
        }

#modal_Profile_HW_Attachs .modal-body {
    background-color: #d3d3d3;
}

#modal_Profile_HW_Attachs .modal-dialog {
    font-family: 微软雅黑;
    font-size: 14px;
    width: 70%;
    height: 70%;
    max-width: 70%;
    max-height: 70%;
}

#modal_Profile_HW_Attachs .modal-body {
    height: calc(100% - 100px);
}

#carousel_Profile_HW_Attachs .carousel-control-prev, #carousel_Profile_HW_Attachs .carousel-control-next {
    width: 50px;
}

.wrap-exam-items .wrap-exam-items-title-table {
    margin-bottom: 0px;
}

    .wrap-exam-items .wrap-exam-items-title-table .icon-cell {
        width: 50px;
        padding-left: 20px;
        line-height: 20px;
    }

    .wrap-exam-items .wrap-exam-items-title-table .title-cell {
        font-weight: bold;
        color: rgb(47, 168, 225);
    }

    .wrap-exam-items .wrap-exam-items-title-table .complete-cell {
        min-width: 100px;
    }

    .wrap-exam-items .wrap-exam-items-title-table .correcct-cell {
        min-width: 20px;
        color: rgb(34,139,34);
        display: none;
    }

    .wrap-exam-items .wrap-exam-items-title-table .incorrect-cell {
        min-width: 20px;
        color: rgb(255,0,0);
        display: none;
    }

.alert-warning-mask {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: none;
}

#alert_Profile_Exam_MoreTimeLeft {
    z-index: 10000;
}

    #alert_Profile_Exam_MoreTimeLeft button {
        margin-left: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }

    #alert_Profile_Exam_MoreTimeLeft strong {
        padding: 0px 10px;
    }

.wrap-profile-report-section {
    min-width: 800px;
    border-bottom: solid 1px rgb(243,243,243);
    padding: 15px 50px 50px 50px;
}

.profile-report-section-row {
    padding: 20px 0px;
}

#report_overview_userinfor {
    position: absolute;
    width: 420px;
}

.report-overview-userinfo-hr {
    height: 2px;
    color: rgb(239,239,239);
    margin: 5px 0px;
}

.report-overview-rank-part-1 {
    display: inline-block;
    FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=1,startColorStr=rgb(195,236,148),endColorStr=rgb(139,195,74));
    background: -ms-linear-gradient(left, rgb(195,236,148), rgb(139,195,74));
    background: -moz-linear-gradient(left, rgb(195,236,148), rgb(139,195,74));
    background: -webkit-gradient(linear, 0% 0%, 100% 0%, from(rgb(195,236,148)), to(rgb(139,195,74)));
    background: -webkit-linear-gradient(left, rgb(195,236,148), rgb(139,195,74));
    background: -o-linear-gradient(left, rgb(195,236,148), rgb(139,195,74));
}

.report-overview-rank-part-div {
    width: 100%;
    background-image: url(../image/smlperson.png);
}

.report-overview-rank-part-2 {
    background-color: rgb(139,195,74);
    display: inline-block;
}

.report-overview-rank-part-3 {
    background-color: rgb(223,223,222);
    display: inline-block;
}

.report-overview-header {
    width: 85px;
    height: 85px;
    background-color: rgb(185,185,185);
    border: 3px solid rgb(151,185,224);
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgb(46,88,136);
}

.text-size-10 {
    font-size: 10px;
}

.text-size-11 {
    font-size: 11px;
}

.text-size-12 {
    font-size: 12px;
}

.text-size-13 {
    font-size: 13px;
}

.text-size-16 {
    font-size: 16px;
}

    .text-size-16.bold {
        font-weight: bold;
    }

.text-size-21 {
    font-size: 23px;
}

.text-color-index {
    color: rgb(234,234,234);
}

.text-color-data {
    color: rgb(252,136,35);
}

.text-color-text {
    color: rgb(0,0,0);
}

.text-color-smart {
    color: rgb(144,197,83);
    letter-spacing: 3px;
}

.text-bold {
    font-weight: bold;
}

.text-color-white {
    color: rgb(255,255,255);
}

.report-overview-header.report-attention-header {
    position: absolute;
    top: 50px;
    left: 45px;
    border-color: rgb(255,255,255);
    box-shadow: 0px 0px 10px rgb(221,221,221);
}

.report-time-canvas-wrap {
    height: 210px;
    padding-left: 30px;
}

#container_Report_Time_Graph {
    height: 100%;
    overflow: hidden;
}

.report-attention-header-point {
    background-color: rgb(255,51,102);
    position: absolute;
    width: 10px;
    height: 10px;
    box-shadow: 0px 0px 20px rgb(255,51,102);
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.report-attention-pdf-button {
    cursor: pointer;
}


.profile-message-top-symbol {
    color: rgb(237,87,138);
}

.profile-homework-top-symbol.complete {
    color: rgb(34,139,34);
}

.profile-homework-top-symbol.uncomplete {
    color: rgb(255,215,0);
}

.profile-homework-top-symbol.incorrect {
    color: rgb(255,0,0);
}

.profile-message-top-content {
    font-weight: bold;
}

.profile-message-title {
    cursor: pointer;
    background-color: rgb(130, 138, 142);
}

    .profile-message-title.active {
        background-color: rgb(237,87,138);
    }

    .profile-message-title i.fa {
        font-size: 48px;
        cursor: pointer;
        color: rgb(255,255,255);
    }

.wrap-message-section {
    background-color: rgb(255,255,255);
    border-left: solid 5px rgb(237,87,138);
}

.portfolio-message-qa-question-cell {
    padding: 5px;
    vertical-align: middle;
}

.profile-message-remove-button {
    cursor: pointer;
}

#img_Settings_Profile_Header {
    width: 100px;
    height: 100px;
    background-color: rgb(76,76,76);
    padding: 0px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

#btn_Settings_Profile_Upload_Header {
    margin-left: 20px;
    margin-bottom: -60px;
}

#wrap_Settings_PWD form label {
    color: rgb(128,128,128);
}

#wrap_Settings_Profile {
    background-color: rgb(255,255,255);
    border-bottom: solid 1px rgb(236,239,241);
}

    #wrap_Settings_Profile form label {
        color: rgb(56,56,56);
    }

#wrap_Settings_PWD {
    background-color: rgb(255,255,255);
    border-bottom: solid 1px rgb(236,239,241);
}

    #wrap_Settings_PWD .fa.fa-eye-slash {
        width: 15px;
        height: 15px;
    }

    #wrap_Settings_PWD h4 {
        color: rgb(107,129,140);
    }

    #wrap_Settings_PWD label {
        justify-content: flex-start;
    }


/*Profile-User Information & Upload header Image*/
.color-white {
    color: rgb(255,255,255);
}

.bg-white {
    background-color: rgb(255,255,255);
}


.canvas-sample {
    border: solid 1px rgb(175,175,175);
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

#canvas_Sample_1 {
    width: 100px;
    height: 100px;
}

#canvas_Sample_2 {
    width: 64px;
    height: 64px;
}

#canvas_Sample_3 {
    width: 24px;
    height: 24px;
}

#canvas_CustomHeader {
    width: 322px;
    height: 322px;
    border: solid 1px rgb(175,175,175);
    background-color: rgb(0,0,0);
}

.progress {
    position: absolute;
    top: 0px;
    left: 15px;
    background-color: rgb(128,128,128);
    z-index: 1000;
    width: 322px;
    height: 322px;
    /*display: none;*/
}

.warnning {
    position: absolute;
    top: calc(50% - 10px);
    top: -moz-calc(50% - 10px);
    top: -webkit-calc(50% - 10px);
    left: 10%;
    width: 80%;
    height: 30px;
    background-color: rgb(128,128,128);
    z-index: 1000;
    display: none;
    font-family: 微软雅黑;
    font-size: 13px;
    text-align: center;
    line-height: 30px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.fileinput-button {
    top: 7px;
}

#loading {
    height: 100%;
    width: 100%;
    z-index: 1;
    margin-top: 0px;
    top: 0px;
}

#loading-center {
    width: 100%;
    height: 100%;
    position: relative;
}

#loading-center-absolute {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 150px;
    width: 150px;
    margin-top: -75px;
    margin-left: -75px;
    -moz-border-radius: 50% 50% 50% 50%;
    -webkit-border-radius: 50% 50% 50% 50%;
    border-radius: 50% 50% 50% 50%;
}

.object {
    width: 20px;
    height: 20px;
    background-color: #FFF;
    position: absolute;
    -moz-border-radius: 50% 50% 50% 50%;
    -webkit-border-radius: 50% 50% 50% 50%;
    border-radius: 50% 50% 50% 50%;
    -webkit-animation: animate 0.8s infinite;
    animation: animate 0.8s infinite;
}

#object_one {
    top: 19px;
    left: 19px;
}

#object_two {
    top: 0px;
    left: 65px;
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

#object_three {
    top: 19px;
    left: 111px;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

#object_four {
    top: 65px;
    left: 130px;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

#object_five {
    top: 111px;
    left: 111px;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

#object_six {
    top: 130px;
    left: 65px;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

#object_seven {
    top: 111px;
    left: 19px;
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

#object_eight {
    top: 65px;
    left: 0px;
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
}

@-webkit-keyframes animate {

    25% {
        -ms-transform: scale(1.5);
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }

    75% {
        -ms-transform: scale(0);
        -webkit-transform: scale(0);
        transform: scale(0);
    }
}

@keyframes animate {
    50% {
        -ms-transform: scale(1.5,1.5);
        -webkit-transform: scale(1.5,1.5);
        transform: scale(1.5,1.5);
    }

    100% {
        -ms-transform: scale(1,1);
        -webkit-transform: scale(1,1);
        transform: scale(1,1);
    }
}

#wrap_CropBox_Header {
    position: absolute;
    top: 0px;
    left: 15px;
    display: none;
}

#CropBox_Header {
    border: 1px solid rgb(56,56,56);
    position: absolute;
}

#dragRightBot {
    position: absolute;
    width: 8px;
    height: 8px;
    border: 1px solid #000;
    background: white;
    overflow: hidden;
    right: -4px;
    bottom: -4px;
    cursor: se-resize;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

#DragBg_Header {
    height: 100%;
    background: white;
    opacity: 0.3;
    filter: alpha(opacity=30);
    cursor: move;
}
