.col-title-line {
    padding: 24px 0px;
}

.col-title {
    font-size: 20px;
    font-weight: bold;
    color: rgb(56, 4, 87);
    text-align: center;
    padding: 10px 0px;
}

.title-line {
    height: 2px;
    background-color: rgb(56, 4, 87);
}

.col-item-wrap {
    padding: 10px;
    color: rgb(56, 4, 87);
    font-size: 16px;
}

.col-item-wrap img {
    width: 205px;
    height: 205px;
}

.col-item-wrap .col.text-center {
    padding: 5px 0px;
}

.col-item-wrap img {
    -webkit-box-shadow: rgb(56, 4, 87) 0px 0px 15px;
    -moz-box-shadow: rgb(56, 4, 87) 0px 0px 15px;
    box-shadow: rgb(56, 4, 87) 0px 0px 15px;
}