body {
    font-family: 微软雅黑;
    font-size: 14px;
    height: 100%;
}

.no-padding {
    padding: 0px;
}

.no-margin {
    margin: 0px;
}

.marginTop-30 {
    margin-top: 30px;
}

.marginBottom-50 {
    margin-bottom: 50px;
}

.full-wrap {
    padding: 0px;
    margin: 0px;
}

.bg-trans {
    background-image: none;
    background-color: transparent;
}

/*Header*/
header {
    position: absolute;
    top: 0px;
    z-index: 1000;
    width: 100%;
    background-color:rgba(0,0,0,0.7);
}

    header .nav-item {
        padding: 0px 5px;
    }

    header .nav-link {
        font-size: 16px;
    }

.navbar-expand-lg .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 1);
}

    .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
        color: rgba(255, 255, 255, 1);
    }

@media (min-width: 992px) {
    .navbar-expand-lg {
        -webkit-box-orient: initial;
        -webkit-box-direction: initial;
        -webkit-flex-direction: initial;
        -ms-flex-direction: initial;
        flex-direction: initial;
        -webkit-flex-wrap: initial;
        -ms-flex-wrap: initial;
        flex-wrap: initial;
        -webkit-box-pack: initial;
        -webkit-justify-content: space-between;
        -ms-flex-pack: initial;
        justify-content: space-between;
    }
}

/*Footer*/
footer {
    background-color: #F2F2F2;
    color: #333;
    font-size: 10px;
}

    footer .socials {
        float: right;
    }

    footer .copyright-txt {
        color: #888;
        font-weight: bolder;
    }

    footer .alinks-section {
        padding: 30px 0px;
    }

        footer .alinks-section .alink-title {
            color: rgb(51, 51, 51);
            line-height: 20px;
            font-size: 12px;
            font-weight: 600;
        }

        footer .alinks-section a {
            color: rgb(85, 85, 85);
            line-height: 20px;
            font-size: 11px;
            font-weight: 300;
        }

    footer .icp-txt {
        color: rgb(172,172,172);
        float: left;
        font-weight: 300;
        padding: 5px 0px;
        margin: 0px;
    }

    footer .socials a {
        float: left;
        width: 20px;
        height: 20px;
        color: rgb(102,102,102);
        font-size: 15px;
        line-height: 20px;
        text-align: center;
        margin: 5px 0px 5px 20px;
        border: 0px solid rgb(102,102,102);
        border-radius: 50%;
    }

        footer .socials a:hover {
            color: #5BC0DE;
            background-color: rgb(255,255,255);
        }

#wrap_Main {
    position: absolute;
    top: 0px;
}

.h-100{
    height:100%;
}