body {
    font-family: 微软雅黑;
    font-size: 14px;
}

.no-padding {
    padding: 0px;
}

.no-margin {
    margin: 0px;
}

.marginTop-30 {
    margin-top: 30px;
}

 .marginBottom-50{
     margin-bottom:50px;
 }

.full-wrap {
    padding: 0px;
    margin: 0px;
}

/*Header*/
header .nav-link {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
}

/*Footer*/
footer {
    background-color: rgb(23,23,23);
}

    footer .socials {
        float: right;
    }

    footer .copyright-txt {
        color: rgb(172,172,172);
        float: left;
        font-size: 13px;
        font-weight: 300;
        padding: 5px 0px;
        margin: 0px;
    }

    footer .socials a {
        float: left;
        width: 20px;
        height: 20px;
        color: rgb(102,102,102);
        font-size: 15px;
        line-height: 20px;
        text-align: center;
        margin: 5px 0px 5px 20px;
        border: 0px solid rgb(102,102,102);
        border-radius: 50%;
    }

        footer .socials a:hover {
            color: #5BC0DE;
            background-color: rgb(255,255,255);
        }
